* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
p {
  color: #0f2336;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #0f2336;
}
nav {
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav__inner {
  width: 1240px;
  height: 50px;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
}
nav .nav__inner_list {
  width: 410px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav__inner_list p {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}
nav .nav__inner_list button {
  width: 122px;
  height: 50px;
  background-color: #0f2336;
  color: white;
  border: 1px #0f2336;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.hero {
  display: flex;
  height: auto;
  margin: 70px auto;
}
.hero__left button {
  background-color: #00cccc;
  color: #0f2336;
  font-size: 18px;
  font-weight: 700;
  width: 208px;
  height: 60px;
  border-radius: 14px;
  border: none;
  outline: none;
  box-shadow: 0px 3px 18px rgba(0, 201, 201, 0.55);
}
.hero__left h1 {
  font-size: 55px;
  line-height: 80px;
  margin-bottom: 50px;
}
.hero__left {
  width: 50%;
}
.hero__right #trees {
  width: 732px;
  margin-top: -105px;
}
.hero__right {
  width: 85%;
  position: relative;
}

.hero__right #hero_image {
  position: absolute;
  bottom: 4px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.features {
  display: flex;
  margin: 100px auto;
  justify-content: space-between;
}
.features .feature {
  width: auto;
  width: 325px;
  margin: 20px 0px;
}
.features h2 {
  margin-top: 30px;
}
.features p {
  margin-top: 12px;
  color: #576d81;
  font-size: 16px;
}
.info {
  display: flex;
  align-items: center;
  margin: 120px;
  height: 540px;
  background-color: #f4f5f6;
  border-radius: 50px;
}
.info img {
  width: 580px;
  height: 640px;
}
.info__discription img {
  width: 420px;
  height: 18px;
  margin-top: 50px;
}
.info__discription h2 {
  font-size: 40px;
  max-width: 195px;
  margin: 20px 0;
}
.info__discription p {
  max-width: 424px;
  font-size: 16px;
  color: #576d81;
  line-height: 24px;
}
.benefits {
  width: 100%;
  height: 527px;
  margin: 0 auto;
  max-width: 1440px;
  margin-bottom: 180px;
  background-color: #f4f5f6;
}
.benefits__content {
  display: flex;
  align-items: center;
  position: relative;
}
.benefits__list {
  width: 505px;
  display: flex;
  flex-direction: column;
  margin-top: -37px;
}
.benefits__list_item:nth-child(2) {
  align-self: flex-end;
}
.benefits__list_item_desc {
  margin-top: 16px;
  max-width: 310px;
}
.benefits__list_item_desc h2 {
  font-size: 25px;
  margin-bottom: 25px;
}

.benefits__list_item_desc p {
  color: #576d81;
  font-size: 16px;
}
.benefits__list_item {
  width: 455px;
  height: 179px;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0px 8px 32px rgba(15, 35, 54, 0.06);
  border-radius: 8px;
  padding: 25px;
  display: flex;
}
#benefits-img {
  width: 50%;
  height: auto;
  position: absolute;
  right: 0;
  top: -73px;
}
.benefits__list_item img {
  width: 50px;
  height: 50px;
  margin-right: 23px;
}
.info:last-child {
  justify-content: space-evenly;
  padding: 50px;
}
.form {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: space-around;
  margin-top: 20px;
}
/* .form__icon img { 
    display: flex; 
    justify-content: center; 
    justify-items: center; 
  } */
.form__icon {
  text-align: center;
}
.form__icon h2 {
  margin-left: 0px;
  width: 519px;
  height: 120px;
  text-align: center;
  font-size: 50px;
}
.form__button-1 {
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-left: 90px;
}
#number {
  width: 394px;
  height: 55px;
  border: none;
  border-radius: 5px;
  font-size: 21.6px;
  font-weight: bold;
  color: #000000;
  background-color: #f0f0f2;
  margin-left: -100px;
  text-align: center;
}
#Send {
  border-radius: 10px;
  width: 156px;
  height: 55px;
  font-size: 21.6px;
  background-color: #00cccc;
  border: none;
  margin-left: 20px;
}
.MobileStore {
  display: flex;
  margin-top: 20px;
  gap: 20px;
}
.footer {
  background-color: #0f2336;
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
}
.footer_left img {
  margin-top: -60px;
}
.footer_right h3 {
  color: #00cccc;
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
}
.footer_right p {
  color: #ffffff;
  font-weight: regular;
  font-size: 20px;
  margin-top: 20px;
}

.footer_left {
  display: flex;
}
.footer_logo {
  margin-top: 70px;
  margin-left: 40px;
}

.footer_right {
  display: flex;
  justify-content: space-around;
  margin-top: 55px;
  width: 530px;
  height: 113px;
}
.footer_right_img {
  margin-top: 50px;
}
